[submodule "Neovim"]
	path = development/.config/nvim
	url = https://github.com/Antonio-Rocchia/Neovim-config.git
[submodule "scripts/.local/bin/scripts"]
	path = scripts/.local/bin/scripts
	url = https://github.com/Antonio-Rocchia/Scripts.git
